@import "../../../theme/lib";


.chart-labels{
  position: relative;
  width: calc(100% - 26px);
  margin-left: 22px !important;
  height: 0;

  .label{
    transition: 0.6s top ease, 0.6s left ease;
    position: relative;
    @include font();
    font-size: 10px;
    @include flex(row, flex-end, center);
    color: white;

    width: min-content;
    height: 1px;

    &.hide{
      transition: 0.6s all ease;
      top: 58px !important;
      opacity: 0;
    }
  }
}
