@import "../../../theme/lib";


.chart-labels{
  position: relative;
  width: calc(100% - 26px);
  margin-left: 22px !important;
  height: 0;

  .label{
    position: relative;
    @include font();
    font-size: 10px;
    @include flex(row, center, center);
    width: 0px;
    height: 0px;
    color: white;
  }
}