
ion-content{
  background: var(--color-main-gray-background);
  --background: var(--color-main-gray-background);
  --overflow: hidden;
}

.content{
  height: 100%;
  overflow: auto;

  & > *{
    margin-left: 16px !important;
    margin-right: 16px !important;

    &.full{
      margin-left:  0 !important;
      margin-right: 0 !important;
    }
  }
}

ion-button{
  height: 50px;
  --border-radius: 0px;
  @include font();


  &.green{
    background: var(--color-main-green);
    --background: var(--color-main-green);
    color: white;
    --color: white;
  }
}

app-service-level-card, app-line-handler-card{
  width: 100%;
  display: flex;
  margin-bottom: 16px;
  &:last-child{
    margin-bottom: 4px;
  }
}

app-range-input{
  height: 100%;
  min-width: 40px;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
}

app-line-chart{
  margin: 20px 0 0 0 !important;
}
