
ion-content{
  background: var(--color-main-gray-background);
  --background: var(--color-main-gray-background);
  --overflow: hidden;
}

.content{
  display: flex;
  flex-direction: column;

  height: 100%;
  overflow: auto;
  padding-bottom: 150px;


  & > *{
    margin-left: 16px !important;
    margin-right: 16px !important;
  }
}

ion-button{
  height: 50px;
  --border-radius: 0px;
  @include font();


  &.green{
    background: var(--color-main-green);
    --background: var(--color-main-green);
    color: white;
    --color: white;
  }
}

app-service-level-card, app-line-handler-card{
  width: 100%;
  margin-bottom: 26px;
  &:last-child{
    margin-bottom: 4px;
  }
}
