.row{
  @include flex();
}
.column{
  @include flex(column);

  &.margin{
    margin: 10px 0;
  }
}

.row, .column{
  &.full-width, .full-width{
    width: 100%;
  }
  &.full-height, .full-height{
    height: 100%;
  }
  &.align-start{
    align-items: flex-start;
  }
  &.align-end{
    align-items: flex-end;
  }
  &.justify-between{
    justify-content: space-between;
  }
  &.justify-start{
    justify-content: flex-start;
  }
  &.justify-end{
    justify-content: flex-end;
  }
}

.input-block{
  --height: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 11px;

  .right-icon, .left-icon{
    position: relative;
    z-index: 15;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    height: var(--height);
    width: var(--height);
  }
  .left-icon{
    padding-left: 10px;
    margin-bottom: calc(0px - var(--height));

  }
  .right-icon{
    margin-left: auto;
    padding-right: 10px;
    margin-top: calc(0px - var(--height));
  }

  .input{
    margin: 0;
    height: var(--height);
  }

  &.small{
    --height: 36px;

    .left-icon{
      padding-left: 2px;
    }
  }
}

.card{
  @include flex(row, flex-start, space-between);
  width: 100%;
  height: 66px;
  padding: 10px 0 0 10px;
  background-color: var(--color-light-gray-background);

  fill: #A3A3AC;

  .header{
    margin: 0px;
  }

  .toolbar{
    @include flex(column);
    height: 100%;
    padding-bottom: 10px;
    padding-right: 16px;
  }

  transition: 0.1s background-color ease, 0s all ease;
  &:not(.full){
    &.red{
      transition: 0.1s background-color ease, 0s all ease;
      background-color: var(--color-main-red);
      fill: white;
    }
    &.red-border{
      transition: 0.1s background-color ease, 0s all ease;
      box-shadow: inset 0 0 0 1px var(--color-main-red);
      fill: white;
    }
  }

  .canvas-block{
    @include flex(row, flex-end, flex-end);
    width: 200px;
    padding-right: 10px;
    margin-left: auto;
    margin-top: auto;
    height: 30px;

    canvas{
      height: 30px;
      width: 200px;
    }
  }
}

.cards-list{
  margin-left:  0 !important;
  margin-right: 0 !important;

  .card{
    margin-right: 16px;
    margin-left: 16px;

    &.full{
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.grid-row{
  @include flex(row, flex-end, flex-end);
  --sidebar-width: 40px;
  width: 100%;
  height: auto;

  position: relative;

  .content{
    width: 100%;
    height: min-content;
    min-height: auto;
    padding: 6px 16px 6px 6px;
    margin-right: 40px;

    & > *{
      margin: 0 !important;
    }
  }
  .sidebar{
    @include flex(row, center, flex-start);
    flex-shrink: 0;
    width: var(--sidebar-width);
    min-height: auto;
    height: 100%;

    position: absolute;
    top: 0;
  }
}


.card.main-chart{
  &.full{
    height: auto;
    padding-bottom: 30px;
    padding-right: 10px;

    .header{
      margin-left: 6px;
    }
  }

  .main-chart-grid{
    overflow: hidden;
    padding-top: 20px;

    .labels{
      width: calc(100% - 26px);
      margin-left: 22px !important;
      margin-top: -32px !important;
      padding-top: 5px;
      position: relative;
      z-index: 20;
      background: #2b2a30;
      border-top: 2px solid rgba(255, 255, 255, 0.05);

      .item{
        @include font(Montserrat);
        font-size: 10px;
        line-height: 12px;
        color: #bdbdbd;
        opacity: 1;
      }
    }
  }
}


.modal-box{
  @include flex(row, center, center);

  box-sizing: border-box;
  position: fixed;
  z-index:  2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 30px 15px;

  background: rgba(43, 42, 48, 0.9);

  .modal{
    width: 100%;
    height: fit-content;
    max-height: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    background-color: var(--color-over-white-light);
    box-shadow: 0px 10px 10px #1D1C22;
  }
}