.input{
  transition: 0.14s all ease;
  height: var(--height);
  --padding-start: var(--height);
  --padding-top: 15px;
  --padding-bottom: 15px;
  --background: var(--color-main-gray-background);

  @include font();

  font-size: 14px;
  --font-size: 14px;
  line-height: 20px;
  border: 1px solid #0000;

  color: #A3A3AC;

  &.light{
    --background: var(--color-light-gray-background);
  }

  &.invalid, &.ng-invalid{
    transition: 0.14s all ease;
    border-color: red;
  }
}

.icon{
  margin: 10px;

  &:last-child{
    margin-right: 0px;
  }
}


.legends{
  margin-top: 20px;
  padding: 0 6px 100px 6px;
  @include font();
  font-size: 11px;
  line-height: 145%;

  .legend{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    height: 52px;

    --active-zone: #37363E;
    //background: linear-gradient(to right, #37363E 0%, #37363E var(--progress), #00000000 var(--progress), #00000000 100%);;

    &.active{
      --active-zone: #51505B;
      //background: linear-gradient(to right, #51505B 0%, #51505B var(--progress), #00000000 var(--progress), #00000000 100%);;
    }

    &:last-child{
      border-bottom-width: 0px;
    }
  }

  .progress, .description, .value{
    @include flex();
    color: white;
    padding: 0 12px;
  }
  .value{
    white-space: nowrap;
  }

  .hr{
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    width: 0;
    height: 25px;
  }
}
