.header{
  margin: 14px 0;

  @include font();
  font-size: 18px;
  line-height: 21px;


  color: #FFFFFF;

  .center{
    font-weight: normal;
  }
  .white-blue{
    color: var(--color-white-blue);
  }
}

h1.header{
  font-size: 36px;
  line-height: 42px;
  margin-top: 24px;

  & ~ .icon{
    margin-top: 33px;
  }
}
h1.header.small{
  font-size: 30px;
  line-height: 35px;
}
h2.header{
  font-size: 24px;
  line-height: 28px;
}
h3.header{
  font-size: 18px;
}
h4.header{
  font-size: 14px;
  margin-right: 10px !important;
}
h6.header{
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 8px;
}
