@import '../../../theme/lib';

.app-row-select{
  padding: 2px 2px 2px 3px;
  background-color: var(--color-over-white-light);

  .option{
    @include flex(row, center, center);
    height: 30px;
    width: 100%;

    color: white;
    text-align: center;

    &:not(:last-child):not(.selected){
      &:after{
        display: block;
        content: '';
        width: 1px;
        height: 18px;
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0.04);
      }
    }

    .text{
      @include font();
      font-size: 14px;
      width: 100%;
    }

    &.selected{
      margin-left: -1px;
      background-color: var(--color-main-gray-background);
    }
  }
}
